body {
    background: #ACE3DE;
    background-repeat: no-repeat;
    height: 100%;
}

.profileImage {
    border-radius: 90%;
    height: 50%;
}

.profileImageContainer {
    border: 1px solid red;
    display: flex;
    align-content: center;
    justify-content: center;
}

.profileNameContainer {
    font-size: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
}

a {
    border: solid 1px red;
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}