body {
    background: #ACE3DE;
    background-repeat: no-repeat;
}

.profileImageContainer {
    border: 1px solid red;
    border-radius: 50%;
    display: flex;
    align-content: center;
}

.profileNameContainer {
    border: 1px red solid;
}

.profileLinksContainer {
    border: solid 1px red;
    padding: 10px;
}