body {
    background: #ACE3DE;
    background-repeat: no-repeat;
    height: 100%;
}

.profileImage {
    border-radius: 50%;
    height: 200px;
}

.profileImageContainer {
    display: flex;
    align-content: center;
    justify-content: center;
}

.profileNameContainer {
    font-size: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
}

a {
    border: solid 3px white;
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: darkgrey;
    text-decoration: none;
}